<!doctype html>
<html class="no-js" lang="en" dir="ltr"xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>:: I-Health:: Expenses</title>
    <!-- plugin css file  -->
    <link rel="stylesheet" th:href="@{/css/responsive.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">
    <!-- project css file  -->
    <link rel="stylesheet" th:href="@{/css/ihealth.style.min.css}">
</head>
<body>

<div id="ihealth-layout" class="theme-tradewind">

    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-5 me-0">
        <div class="d-flex flex-column h-100">
            <a href="index.html" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <i class="icofont-heart-beat fs-2"></i>
                </span>
                <span class="logo-text">I-Health</span>
            </a>
            <!-- Menu: main ul -->

            <ul class="menu-list flex-grow-1 mt-3">
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#dashboard" href="#">
                        <i class="icofont-ui-home fs-5"></i> <span>浏览主页</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="dashboard">
                        <li><a class="ms-link" th:href="@{|/background/index/${session.admin.aid}|}">Hospital Dashboard</a></li>
                        <li><a class="ms-link" href="coviddashboard.html"> Covid-19 Dashboard</a></li>
                    </ul>
                </li>
                <li><a class="m-link" href="virtual.html"><i class="icofont-ui-video-chat fs-5"></i> <span>I-Health Virtual</span></a></li>

                <li class="collapsed">
                    <a class="m-link active" data-bs-toggle="collapse" data-bs-target="#menu-Doctor" href="#">
                        <i class="icofont-doctor-alt fs-5"></i>  <span>用户管理</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse show"  id="menu-Doctor">
                        <li><a class="ms-link active" th:href="@{/background/allUser/1/10}">用户管理</a></li>
                        <li><a class="ms-link" href="doctor-all.html">All Doctors</a></li>
                        <li><a class="ms-link" href="doctor-add.html">Add Doctor</a></li>
                        <li><a class="ms-link" href="appointment.html">Appointment</a></li>
                        <li><a class="ms-link" href="doctor-profile.html">Doctors Profile</a></li>
                        <li><a class="ms-link" href="doctor-schedule.html">Doctor Schedule</a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Patient" href="#">
                        <i class="icofont-blind fs-5"></i> <span>Patient</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-Patient">
                        <li><a class="ms-link" href="post_list.html">Patient List</a></li>
                        <li><a class="ms-link" href="patient-add.html">Add Patient</a></li>
                        <li><a class="ms-link" href="patient-profile.html">Patient Profile</a></li>
                        <li><a class="ms-link" href="patient-invoices.html">Patient Invoices</a></li>
                    </ul>
                </li>
                <li><a class="m-link" href="accidents.html"><i class="icofont-stretcher fs-5"></i> <span>Accidents</span></a></li>
                <li><a class="m-link" href="labs.html"><i class="icofont-blood-test fs-5"></i> <span>Labs</span></a></li>
                <li><a class="m-link" href="department.html"><i class="icofont-hospital fs-5"></i> <span>Department</span></a></li>
                <li class="collapsed">
                    <a class="m-link " data-bs-toggle="collapse" data-bs-target="#menu-Componentsone" href="#"><i class="icofont-ui-calculator"></i> <span>Accounts</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse " id="menu-Componentsone">
                        <li><a class="ms-link" href="invoices.html"><span>Invoices</span> </a></li>
                        <li><a class="ms-link" href="payments.html"><span>Payments</span> </a></li>
                        <li><a class="ms-link " href=""><span>Expenses</span> </a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#app" href="#">
                        <i class="icofont-code-alt fs-5"></i> <span>App</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="app">
                        <li><a class="ms-link" href="calendar.html">Calandar</a></li>
                        <li><a class="ms-link" href="chat.html"> Communication</a></li>
                    </ul>
                </li>


                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#page" href="#">
                        <i class="icofont-page fs-5"></i> <span>Pages Example</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="page">
                        <li><a class="ms-link" href="table.html">Table Example</a></li>
                        <li><a class="ms-link" href="forms.html"> Forms Example</a></li>
                        <li><a class="ms-link" href="icon.html"> Icons Example</a></li>
                        <li><a class="ms-link" href="contact.html"> Contact Example</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Header -->
        <div class="header">
            <nav class="navbar py-4">
                <div class="container-xxl">

                    <!-- header rightbar icon -->
                    <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">
                        <div class="d-flex">
                            <a class="nav-link text-primary collapsed" href="javascript:;" title="Get Help">
                                <i class="icofont-info-square fs-5"></i>
                            </a>
                        </div>
                        <div class="dropdown notifications zindex-popover">
                            <a class="nav-link dropdown-toggle pulse" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="icofont-alarm fs-5"></i>
                                <span class="pulse-ring"></span>
                            </a>
                            <div id="NotificationsDiv" class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-sm-end p-0 m-0">
                                <div class="card border-0 w380">
                                    <div class="card-header border-0 p-3">
                                        <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                                            <span>Notifications</span>
                                            <span class="badge text-white">06</span>
                                        </h5>
                                    </div>
                                    <div class="tab-content card-body">
                                        <div class="tab-pane fade show active">
                                            <ul class="list-unstyled list mb-0">
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="static/picture/avatar1.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Chloe Walkerr</span> <small>2MIN</small></p>
                                                            <span class="">Added Appointment 2021-06-19 <span class="badge bg-success">Book</span></span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <div class="avatar rounded-circle no-thumbnail">AH</div>
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Alan	Hill</span> <small>13MIN</small></p>
                                                            <span class="">Lab sample collection</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="static/picture/avatar3.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Melanie	Oliver</span> <small>1HR</small></p>
                                                            <span class="">Invoice Create Patient Room A-803</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="static/picture/avatar5.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Boris Hart</span> <small>13MIN</small></p>
                                                            <span class="">Medicine Order to Medical</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2 mb-1 border-bottom">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="static/picture/avatar6.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Alan	Lambert</span> <small>1HR</small></p>
                                                            <span class="">Leave Apply</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="py-2">
                                                    <a href="javascript:void(0);" class="d-flex">
                                                        <img class="avatar rounded-circle" src="static/picture/avatar7.jpg" alt="">
                                                        <div class="flex-fill ms-2">
                                                            <p class="d-flex justify-content-between mb-0 "><span class="font-weight-bold">Zoe Wright</span> <small class="">1DAY</small></p>
                                                            <span class="">Patient Food Order Room A-809</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a class="card-footer text-center border-top-0" href="#"> View all notifications</a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">
                            <div class="u-info me-2">
                                <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold" th:text="${session.admin.name}">John Quinn</span></p>
                                <small>Admin Profile</small>
                            </div>
                            <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static">
                                <img class="avatar lg rounded-circle img-thumbnail" th:src="@{|/avatar/${session.admin.image}|}" alt="profile">
                            </a>
                            <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                <div class="card border-0 w280">
                                    <div class="card-body pb-0">
                                        <div class="d-flex py-1">
                                            <img class="avatar rounded-circle" th:src="@{|/avatar/${session.admin.image}|}" alt="profile">
                                            <div class="flex-fill ms-3">
                                                <p class="mb-0"><span class="font-weight-bold" th:text="${session.admin.name}">John	Quinn</span></p>
                                                <small class="">Johnquinn@gmail.com</small>
                                            </div>
                                        </div>

                                        <div><hr class="dropdown-divider border-dark"></div>
                                    </div>
                                    <div class="list-group m-2 ">
                                        <a href="virtual.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-ui-video-chat fs-5 me-3"></i>I-Health Virtual</a>
                                        <a href="patient-invoices.html" class="list-group-item list-group-item-action border-0 "><i class="icofont-dollar fs-5 me-3"></i>Patient Invoices</a>
                                        <a href="javascript:;" class="list-group-item list-group-item-action border-0 "><i class="icofont-logout fs-6 me-3"></i>Signout</a>
                                        <div><hr class="dropdown-divider border-dark"></div>
                                        <a href="javascript:;" class="list-group-item list-group-item-action border-0 "><i class="icofont-contact-add fs-5 me-3"></i>Add personal account</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="setting ms-2">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#Settingmodal"><i class="icofont-gear-alt fs-5"></i></a>
                        </div>
                    </div>

                    <!-- menu toggler -->
                    <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainHeader">
                        <span class="fa fa-bars"></span>
                    </button>

                    <!-- main menu Search-->
                    <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                        <div class="input-group flex-nowrap input-group-lg">
                            <input type="search" class="form-control" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping">
                            <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button>

                        </div>
                    </div>

                </div>
            </nav>
        </div>

        <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">用户信息管理表</h3>
                            <div class="col-auto d-flex w-sm-100">
                                <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#expadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add Expenses</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row clearfix g-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>用户ID</th>
                                        <th>头像</th>
                                        <th>用户名</th>
                                        <th>性别</th>
                                        <th>生日</th>
                                        <th>所在地</th>
                                        <th>用户级别</th>
                                        <th>手机</th>
                                        <th>邮箱</th>
                                        <th>注册时间</th>
                                        <th>修改时间</th>
                                        <th>用户描述</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user:${pageInfo.list}">
                                        <td th:text="${user.uid}">     #EX-00002   </td>
                                        <td> <img class="avatar rounded-circle" th:src="|/avatar/${user.image}|" alt=""> </td>
                                        <td th:text="${user.name}"> </td>
                                        <td th:text="${user.gender}"> 12/03/2021  </td>
                                        <td th:text=" ${#dates.format(user.birthday,'yyyy-MM-dd')}"> 12/03/2021  </td>
                                        <td th:text="${user.city}">  12/03/2021 </td>
                                        <td><span class="badge bg-warning" th:text="${user.status}">In Progress</span></td>
                                        <td th:text="${user.phone}">  12/03/2021 </td>
                                        <td th:text="${user.email}"> 12/03/2021   </td>
                                        <td th:text=" ${#dates.format(user.registerTime,'yyyy-MM-dd')}"> 12/03/2021 </td>
                                        <td th:text=" ${#dates.format(user.updateNameTime,'yyyy-MM-dd')}"> 12/03/2021  </td>
                                        <td th:text="${user.description}">     12/03/2021   </td>
                                        <td>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#expedit" onclick=" update(this)"><i class="icofont-edit text-success"></i></button>
                                                <button th:attr="del_uri=@{|/background/deluser/${user.uid}/${pageInfo.pageNum}|}" id="delUser" type="button" class="btn btn-outline-secondary deleterow"><i class="icofont-ui-delete text-danger"></i></button>
                                                <form id="deleteEmpForm" method="post">
                                                    <input type="hidden" name="_method" value="delete"/>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->
                <div style="float: right">
                    <a th:href="@{|/background/allUser/1|}">首页</a>
                    <a th:href="@{|/background/allUser/${pageInfo.prePage}|}">上一页</a>
                    <span th:each="i:${pageInfo.navigatepageNums}">
                                              <a th:if="${i==pageInfo.pageNum}" th:href="@{|/background/allUser/${i}|}">【[[${i}]]】</a>
                                              <a th:if="${i!=pageInfo.pageNum}" th:href="@{|/background/allUser/${i}|}">[[${i}]]</a>
                                            </span>

                    <a th:if="${pageInfo.isLastPage}" th:href="@{|/background/allUser/${pageInfo.pages}|}">下一页</a>
                    <a th:if="${pageInfo.hasNextPage}" th:href="@{|/background/allUser/${pageInfo.nextPage}|}">下一页</a>

                    <a th:href="@{|/background/allUser/${pageInfo.pages}|}">末页</a>
                </div>
            </div>
        </div>

        <!-- Modal Custom Settings-->
        <div class="modal fade right" id="Settingmodal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog  modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Custom Settings</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body custom_setting">
                        <!-- Settings: Color -->
                        <div class="setting-theme pb-3">
                            <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i class="icofont-color-bucket fs-4 me-2 text-primary"></i>Template Color Settings</h6>
                            <ul class="list-unstyled row row-cols-3 g-2 choose-skin mb-2 mt-2">
                                <li data-theme="indigo"><div class="indigo"></div></li>
                                <li data-theme="tradewind" class="active"><div class="tradewind"></div></li>
                                <li data-theme="monalisa"><div class="monalisa"></div></li>
                                <li data-theme="blue"><div class="blue"></div></li>
                                <li data-theme="cyan"><div class="cyan"></div></li>
                                <li data-theme="green"><div class="green"></div></li>
                                <li data-theme="orange"><div class="orange"></div></li>
                                <li data-theme="blush"><div class="blush"></div></li>
                                <li data-theme="red"><div class="red"></div></li>
                            </ul>
                        </div>
                        <div class="sidebar-gradient py-3">
                            <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i class="icofont-paint fs-4 me-2 text-primary"></i>Sidebar Gradient</h6>
                            <div class="form-check form-switch gradient-switch pt-2 mb-2">
                                <input class="form-check-input" type="checkbox" id="CheckGradient">
                                <label class="form-check-label" for="CheckGradient">Enable Gradient! ( Sidebar )</label>
                            </div>
                        </div>
                        <!-- Settings: Template dynamics -->
                        <div class="dynamic-block py-3">
                            <ul class="list-unstyled choose-skin mb-2 mt-1">
                                <li data-theme="dynamic"><div class="dynamic"><i class="icofont-paint me-2"></i> Click to Dyanmic Setting</div></li>
                            </ul>
                            <div class="dt-setting">
                                <ul class="list-group list-unstyled mt-1">
                                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                        <label>Primary Color</label>
                                        <button id="primaryColorPicker" class="btn bg-primary avatar xs border-0 rounded-0"></button>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                        <label>Secondary Color</label>
                                        <button id="secondaryColorPicker" class="btn bg-secondary avatar xs border-0 rounded-0"></button>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                        <label class="text-muted">Chart Color 1</label>
                                        <button id="chartColorPicker1" class="btn chart-color1 avatar xs border-0 rounded-0"></button>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                        <label class="text-muted">Chart Color 2</label>
                                        <button id="chartColorPicker2" class="btn chart-color2 avatar xs border-0 rounded-0"></button>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                        <label class="text-muted">Chart Color 3</label>
                                        <button id="chartColorPicker3" class="btn chart-color3 avatar xs border-0 rounded-0"></button>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                        <label class="text-muted">Chart Color 4</label>
                                        <button id="chartColorPicker4" class="btn chart-color4 avatar xs border-0 rounded-0"></button>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                        <label class="text-muted">Chart Color 5</label>
                                        <button id="chartColorPicker5" class="btn chart-color5 avatar xs border-0 rounded-0"></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Settings: Font -->
                        <div class="setting-font py-3">
                            <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i class="icofont-font fs-4 me-2 text-primary"></i> Font Settings</h6>
                            <ul class="list-group font_setting mt-1">
                                <li class="list-group-item py-1 px-2">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="radio" name="font" id="font-poppins" value="font-poppins">
                                        <label class="form-check-label" for="font-poppins">
                                            Poppins Google Font
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item py-1 px-2">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="radio" name="font" id="font-opensans" value="font-opensans" checked="">
                                        <label class="form-check-label" for="font-opensans">
                                            Open Sans Google Font
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item py-1 px-2">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="radio" name="font" id="font-montserrat" value="font-montserrat">
                                        <label class="form-check-label" for="font-montserrat">
                                            Montserrat Google Font
                                        </label>
                                    </div>
                                </li>
                                <li class="list-group-item py-1 px-2">
                                    <div class="form-check mb-0">
                                        <input class="form-check-input" type="radio" name="font" id="font-mukta" value="font-mukta">
                                        <label class="form-check-label" for="font-mukta">
                                            Mukta Google Font
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Settings: Light/dark -->
                        <div class="setting-mode py-3">
                            <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i class="icofont-layout fs-4 me-2 text-primary"></i>Contrast Layout</h6>
                            <ul class="list-group list-unstyled mb-0 mt-1">
                                <li class="list-group-item d-flex align-items-center py-1 px-2">
                                    <div class="form-check form-switch theme-switch mb-0">
                                        <input class="form-check-input" type="checkbox" id="theme-switch">
                                        <label class="form-check-label" for="theme-switch">Enable Dark Mode!</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center py-1 px-2">
                                    <div class="form-check form-switch theme-high-contrast mb-0">
                                        <input class="form-check-input" type="checkbox" id="theme-high-contrast">
                                        <label class="form-check-label" for="theme-high-contrast">Enable High Contrast</label>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center py-1 px-2">
                                    <div class="form-check form-switch theme-rtl mb-0">
                                        <input class="form-check-input" type="checkbox" id="theme-rtl">
                                        <label class="form-check-label" for="theme-rtl">Enable RTL Mode!</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <button type="button" class="btn btn-white border lift" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary lift">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Expence-->
        <div class="modal fade" id="expadd" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title  fw-bold" id="expaddLabel">修改用户信息</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="deadline-form">
                            <form th:action="@{|/background/addUser/${session.admin.aid}/${pageInfo.pages}|}" method="post">
                                <div class="row g-3 mb-3">
                                    <div class="col-sm-6">
                                        <label for="uname" class="form-label">用户名<span style="color: red">*</span></label>
                                        <input type="hidden" class="form-control" id="aid" name="id" value="">
                                        <input type="text" class="form-control" id="aname" name="name" value="Laundry">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="uemail" class="form-label">邮箱</label>
                                        <input type="text" class="form-control" id="aemail" name="email" value="Laundry Man">
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-sm-6">
                                        <div class="col-md-6">
                                            <label class="form-label">性别</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gender" id="amale" value="男" checked="">
                                                        <label class="form-check-label" for="male">
                                                            男
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gender" id="afemale" value="女">
                                                        <label class="form-check-label" for="female">
                                                            女
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ubirthday" class="form-label">生日</label>
                                        <input type="date" class="form-control" id="abirthday" name="birthday" value="2021-03-12">
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-sm-6">
                                        <label class="form-label">所在城市</label>
                                        <input  class="form-control" name="city"id="acity">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="uphone" class="form-label">电话<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" name="phone" id="aphone" >
                                    </div>
                                </div>
                                <!--<div class="row g-3 mb-3">-->
                                    <!--<div class="col-sm-6">-->
                                       <!--<label for="passwd" class="form_lable">密码<span style="color: red">*</span></label>-->
                                        <!--<input type="password" id="passwd" name="password" required>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-6">-->
                                        <!--<label for="repasswd" class="form_lable">密码<span style="color: red">*</span></label>-->
                                        <!--<input type="password" id="repasswd" name="repassword" required>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="mb-3">
                                    <label for="udescription" class="form-label">用户描述</label>
                                    <textarea  class="form-control" name="description" id="adescription"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <!-- Edit Expence-->
        <div class="modal fade" id="expedit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title  fw-bold" id="expeditLabel">修改用户信息</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="deadline-form">
                            <form th:action="@{|/background/doUpdate/${session.admin.aid}/${pageInfo.pageNum}|}" method="post">
                                <div class="row g-3 mb-3">
                                    <div class="col-sm-6">
                                        <label for="uname" class="form-label">用户名</label>
                                        <input type="hidden" class="form-control" id="uid" name="id" value="">
                                        <input type="text" class="form-control" id="uname" name="name" value="Laundry">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ustatus" class="form-label">用户状态</label>
                                        <input type="text" class="form-control" name="status" id="ustatus" value="2021-03-12">
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-sm-6">
                                        <div class="col-md-6">
                                            <label class="form-label">性别</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gender" id="male" value="男" checked="">
                                                        <label class="form-check-label" for="male">
                                                            男
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gender" id="female" value="女">
                                                        <label class="form-check-label" for="female">
                                                            女
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="ubirthday" class="form-label">生日</label>
                                        <input type="date" class="form-control" id="ubirthday" name="birthday" value="2021-03-12">
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-sm-6">
                                        <label class="form-label">所在城市</label>
                                      <input  class="form-control" name="city"id="ucity">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="uphone" class="form-label">电话</label>
                                        <input type="text" class="form-control" name="phone" id="uphone" value="2021-03-12">
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-sm-6">
                                        <label for="uemail" class="form-label">邮箱</label>
                                        <input type="text" class="form-control" id="uemail" name="email" value="Laundry Man">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="uregisterTime" class="form-label">注册时间</label>
                                        <input type="date" class="form-control" id="uregisterTime" name="registerTime" value="2021-03-12">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="udescription" class="form-label">用户描述</label>
                                   <textarea  class="form-control" name="description" id="udescription"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Jquery Core Js -->
<script th:src="@{/js/libscripts.bundle.js}"></script>

<!-- Plugin Js -->
<script th:src="@{/js/dataTables.bundle.js}"></script>

<!-- Jquery Page Js -->
<script th:src="@{/js/template.js}"></script>
<script>
    // project data table
    $(document).ready(function() {
        $('#myProjectTable')
            .addClass( 'nowrap' )
            .dataTable( {
                paging:false,
                responsive: true,
                columnDefs: [
                    { targets: [-1, -3], className: 'dt-body-right' }
                ]
            });

    });
    function  update(obj) {
        //点击更新按钮后展示模态框
        $('#expedit').modal('show');
        var tds=$(obj).parent().parent().parent().find('td');

        var name=tds.eq(2).text();
        $("#uid").val(tds.eq(0).text());
        $("#uname").val(name);
        $("#ubirthday").val(tds.eq(4).text());
        $("#ucity").val(tds.eq(5).text());
        $("#ustatus").val(tds.eq(6).children(0).text());
        $("#uphone").val(tds.eq(7).text());
        $("#uemail").val(tds.eq(8).text());
        $("#uregisterTime").val(tds.eq(9).text());
        $("#udescription").val(tds.eq(11).text());
    }
    $('.deleterow').on('click',function(){
        $("#deleteEmpForm").attr("action", $(this).attr("del_uri")).submit();
    } );
</script>
</body>
</html>