<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="shortcut icon" href="/images/tx.jpg" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<title th:text="|${userCur.name}的微博_微博|">的主页</title>
	<meta name="keywords" content="司空琪个人微博,司空琪个人主页,司空琪空间,画江湖动漫" />
	<meta name="description" content="司空琪个人微博,司空琪个人主页,司空琪空间说说,画江湖动漫" />
	<meta name="updater" content="qheartq616" />
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
		a{
			color: black;
			text-decoration: none;
		}
		a:hover{
			color: orange;
			text-decoration: none;
		}
	</style>
	<link rel='stylesheet' th:href='@{/css/bootstrap.min.css}' type='text/css' media='all' />
	<link rel='stylesheet' id='style-css' th:href='@{/css/style.css}' type='text/css' media='all' />
	<link rel='stylesheet' id='lmlblog-css' th:href='@{/css/lmlblog.css}' type='text/css' media='all' />
	<link rel='stylesheet' id='all-css' th:href='@{/css/all.css}' type='text/css' media='all' />

	<link rel="stylesheet" type="text/css" href="/css/style-input.css">
	<script type='text/javascript' th:src='@{/js/jquery.min.js}'></script>
	<script type='text/javascript' th:src='@{/js/ueditor.all.min.js}'></script>
</head>
<body>
<!-- 菜单 -->
<div class="menu-bar">
	<div class="head_content">
		<h1 class="m-logo"><a href="/" ></a></h1>
		<div id="nav" class="menu-menu-1-container">
			<ul id="menu-menu-1" class="menu">
				<li id="head_search"><i class="fa fa-search"></i></li>
				<li class="menu-item" style="margin-left: 3px;">
					<form action="#" method=""  style="display: inline-block; ">
						<input type="search" style="display: inline-block;" class="search" placeholder="搜索框" />
					</form>
				</li>
				<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
					<a th:href="@{|/main/${session.user.uid}/all/1|}" style="text-decoration: none"><i class="fa fa-home"></i>微博首页</a>
				</li>
				<li class="menu-item"><a href="#1" style="text-decoration: none"><i class="fa fa-envelope-o"></i>私信</a></li>
				<!--<li class="menu-item">
					<a href="#1">发现</a>
				</li>
				<li class="menu-item">
					<a href="#1">微博</a>
				</li>
				<li id="menu-item" class="menu-item">
					<a href="#1">空间</a>
				</li>
				<li class="menu-item menu-item-has-children"><a href="#1">好友</a>
					<ul class="sub-menu">
						<li class="menu-item"><a href="#">燕凌姣</a></li>
						<li class="menu-item"><a href="#">姬如雪</a></li>
						<li class="menu-item"><a href="#">陆林轩</a></li>
						<li class="menu-item"><a href="#">红莲</a></li>
						<li class="menu-item"><a href="#">陆雪琪</a></li>
						<li class="menu-item"><a href="#">画江湖</a></li>
					</ul>
				</li>-->
				<li th:class="|gengxin menu-item menu-item-type-custom|" th:if="${userCur.uid==session.user.uid}">
					<a th:href="@{|/user/${session.user.uid}/1|}" style="text-decoration: none">
						<img th:src="|/avatar/${session.user.image}|" style="height: 32px;width: 32px;position: relative;top: -3px;" class="avatar" />
						<span th:text="${session.user.name}" style="position: relative;top: -1px"></span>
					</a>
				</li>
				<li th:class="|menu-item menu-item-type-custom|" th:if="${userCur.uid!=session.user.uid}">
					<a th:href="@{|/user/${session.user.uid}/1|}" style="text-decoration: none">
						<img th:src="|/avatar/${session.user.image}|" style="height: 32px;width: 32px;position: relative;top: -3px;" class="avatar" />
						<span th:text="${session.user.name}" style="position: relative;top: -1px"></span>
					</a>
				</li>
			</ul>
		</div>
		<div class="head_user_info">
			<!--<ul>
				<li id="head_search"><i class="fa fa-search"></i></li>
				&lt;!&ndash; <li id="head_login" onclick="#1">登录</li>
                <span class="head_login_middle">or</span>
                <li id="head_reg" onclick="#1">注册</li> &ndash;&gt;</ul>-->
		</div>
		<div style="clear: both;"></div>
	</div>
</div><!-- menu-bar -->

<div style="clear: both;"></div><div class="lmlblog-member-main" data="1">
	<div class="lmlblog-member-bg">
		<div class="lmlblog-member-content">
			<div class="lmlblog-member-header">
				<div class="lmlblog-member-avatar other">
					<img th:src="|/avatar/${userCur.image}|" class="avatar"/>
					<i th:if="${userCur.status==0}" th:title="普通用户"></i>
					<i th:if="${userCur.status==1}" class="lmlblog-verify lmlblog-verify-a" th:title="会员用户"></i>
					<i th:if="${userCur.status==2}" class="lmlblog-verify lmlblog-verify-b" th:title="认证用户"></i>
					<i th:if="${userCur.status==3}" class="lmlblog-verify-c lmlblog-verify-cc" th:title="超级管理员"></i>
				</div>
				<div class="lmlblog-member-username" th:switch="${userCur.gender}">
					<h1 th:text="${userCur.name}"></h1>
					<span class="lmlblog-mark lmlblog-boy" th:case="'男'"><i class="fa fa-mars"></i></span>
					<span class="lmlblog-mark lmlblog-girl" th:case="'女'"><i class="fa fa-venus"></i></span>
					<span class="lmlblog-mark" style="background-color: orange" th:case="*"><i class="fa fa-transgender-alt"></i></span>
					<!--<span class="lmlblog-mark lmlblog-lv" title="经验：3815"></span>
					<span class="lmlblog-mark lmlblog-vip"></span></div>-->
					<div class="lmlblog-member-desc" th:text="${userCur.description}">江湖风雨，几度阑珊。沧海一粟，愿君一剑轻安。</div>
					<div class="lmlblog-member-follow-info" th:switch="${userCur.followStatus}" id="followInfo">
						<a th:onclick="|javascript:doFollow(${session.user.uid},${userCur.uid})|" th:case="0" target="_blank" rel="nofollow">
							<span class="follow no opacity">
								<i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;<i class="lmlblog-icon">关注</i>
							</span>
						</a>
						<a th:onclick="|javascript:doFollow(${session.user.uid},${userCur.uid})|" th:case="1" target="_blank" rel="nofollow">
							<span class="follow has opacity">
								<i class="fa fa-check-square-o"></i><i class="lmlblog-icon">已关注</i>
							</span>
						</a>
						<a th:onclick="|javascript:doFollow(${session.user.uid},${userCur.uid})|" th:case="2" target="_blank" rel="nofollow">
							<span class="follow has opacity">
								<i class="fa fa-exchange"></i><i class="lmlblog-icon">互相关注</i>
							</span>
						</a>
						<a th:onclick="|javascript:doFollow(${session.user.uid},${userCur.uid})|" th:case="4" target="_blank" rel="nofollow">
							<span class="follow no opacity">
								<i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;<i class="lmlblog-icon">关注</i>
							</span>
						</a>
						<span class="opacity" th:if="${userCur.followStatus!=3}"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<i class="lmlblog-icon">私聊</i></span>
						<!--<span class="follow has opacity" onmouseover="showList(this)">
							<ul style="display: none">
								<a><li>取消关注</li></a>
								<a><li>特别关注</li></a>
								<a><li>移除粉丝</li></a>
								<a><li>举报</li></a>
							</ul>
						</span>-->
					</div>
				</div>
			</div>
			<div class="lmlblog-member-menu clear">
				<li class="on">主页</li>
				<li>动态</li>
				<li><a href="http://www.lmlblog.com/blog/sikongqi/3.html" target="_blank">音乐</a></li>
				<li>文章</li>
				<li><a href="http://www.lmlblog.com/blog/sikongqi/2.html" target="_blank">视频</a></li>
				<li><a href="http://www.lmlblog.com/blog/sikongqi/1.html" target="_blank">个人档</a></li>
			</div>
			<div class="lmlblog-member-content-list clear">
				<div class="lmlblog-member-left">
					<div class="lmlblog-member-left-follow clear">
						<li>
							<strong th:text="${userCur.countAllFollowUser}">168</strong>
							<span>关注</span>
						</li>
						<li>
							<strong th:text="${userCur.countAllFans}">666</strong>
							<span>粉丝</span>
						</li>
						<li>
							<a th:href="@{|/user/${userCur.uid}/1|}">
								<strong th:text="${userCur.countAllPost}">888-&#45;&#45;</strong>
								<span>微博</span>
							</a>
						</li>
						<li>
							<strong th:text="${userCur.countAllLike}">888888-&#45;&#45;</strong>
							<span>被点赞</span>
						</li>
					</div>
					<div class="lmlblog-member-left-bg-music clear">
						<h3>背景音乐</h3>
						<div id="lmlblog-memeber-bg-music" class="aplayer"></div>
						<img src="http://wx2.sinaimg.cn/large/9c774d91gy1ft4lhr5vbmg20jp08okbw.gif" alt="司空琪">
						<audio src="https://img.jinsom.cn/user_files/12551/bg-music/music_1530776683.mp3" autoplay controls></audio>
					</div>
					<div class="lmlblog-member-left-profile">
						<h3>资料简介</h3>
						<li><i class="fa fa-address-book-o"></i>微博ID：<span th:text="${userCur.uid}">520</span></li>
						<li><i class="fa fa-transgender"></i>性别：<span th:text="${userCur.gender}">女生</span></li>
						<li><i class="fa fa-map-marker"></i>城市：<span th:text="${userCur.city}">画江湖 司空家</span></li>
						<li><i class="fa fa-smile-o"></i>签名：<span th:text="${userCur.description}">坚强勇敢，利落干脆。冰雪聪明，明眸善睐。重情重义，侠骨柔情。</span></li>
						<div class="lmlblog-member-left-profile-hide">
							<!--<li><i class="fa fa-qq"></i> Q Q：<span>sikongqi-&#45;&#45;<span></li>
                            <li><i class="fa fa-wechat"></i> 微信：<span>天涯路远，一剑轻安。携琪之手，相伴江湖-&#45;&#45;<span></li>
                            <li><i class="fa fa-weibo"></i> 微博：<span>司空琪吧官博-&#45;&#45;<span></li>-->
							<li><i class="fa fa-birthday-cake"></i> 生日：<span th:text="${#dates.format(userCur.birthday,'yyyy-MM-dd')}">2月15日</span></li>
						</div>
						<div class="lmlblog-member-left-profile-more">查看更多 <i class="fa fa-angle-right"></i></div>
					</div>

					<div class="lmlblog-member-left-visitor clear">
						<h3>最近访客---</h3>
						<li><a href="#1" title="访问时间：22分钟前"><img src="/picture/1.gif" class="avatar" /><p>born</p></a></li>
						<li><a href="#2" title="访问时间：3小时前"><span class="lmlblog-vip-icon"></span><img src="/picture/qi.jpg" class="avatar" /><p>司空琪</p></a></li>
						<li><a href="#3" title="访问时间：10小时前"><span class="lmlblog-vip-icon"></span><img src="/picture/2.gif" class="avatar" /><p>晴川</p></a></li>
						<li><a href="#4" title="访问时间：14小时前"><img src="/picture/3.gif" class="avatar" /><p>大白兔</p></a></li>
						<li><a href="#5" title="访问时间：15小时前"><img src="/picture/4.jpg" class="avatar" /><p>momo</p></a></li>
						<li><a href="#6" title="访问时间：1天前"><span class="lmlblog-vip-icon"></span><img src="/picture/5.png" class="avatar" /><p>啦啦啦123</p></a></li>
						<li><a href="#7" title="访问时间：1天前"><img src="/picture/6.gif" class="avatar" /><p>随风</p></a></li>
						<li><a href="#8" title="访问时间：1天前"><img src="/picture/7.gif" class="avatar" /><p>哒哒</p></a></li>
						<li><a href="#9" title="访问时间：1天前"><img src="/picture/8.gif" class="avatar" /><p>陌若</p></a></li>
						<li><a href="#10" title="访问时间：2天前"><span class="lmlblog-vip-icon"></span><img src="/picture/9.gif" class="avatar" /><p>hidhz</p></a></li>
						<li><a href="#11" title="访问时间：2天前"><span class="lmlblog-vip-icon"></span><img src="/picture/10.gif" class="avatar" /><p>老虎</p></a></li>
						<li><a href="#12" title="访问时间：3天前"><img src="/picture/11.gif" class="avatar" /><p>不要演有事说</p></a></li>
						<li><a href="#13" title="访问时间：3天前"><img src="/picture/12.gif" class="avatar" /><p>瑾似流年</p></a></li>
						<li><a href="#14" title="访问时间：3天前"><img src="/picture/13.gif" class="avatar" /><p>九张机</p></a></li>
						<li><a href="#15" title="访问时间：4天前"><img src="/picture/14.jpg" class="avatar" /><p>美美哒</p></a></li>
						<li><a href="#16" title="访问时间：4天前"><span class="lmlblog-vip-icon"></span><img src="/picture/15.gif" class="avatar" /><p>zanbocm</p></a></li>
						<li><a href="#2528" title="访问时间：4天前"><img src="/picture/16.gif" class="avatar" /><p>yfdaifhc</p></a></li>
						<li><a href="#52" title="访问时间：4天前"><img src="/picture/17.png" class="avatar" /><p>xcxla</p></a></li>
						<li><a href="#0292" title="访问时间：4天前"><img src="/picture/18.jpg" class="avatar" /><p>墨虹客栈</p></a></li>
						<li><a href="#1753" title="访问时间：5天前"><img src="/picture/19.jpg" class="avatar" /><p>空间吧</p></a></li>
					</div>
					<div class="lmlblog-member-left-bg-xg clear">
						<h3>相关推荐---</h3>
						<div id="lmlblog-memeber-bg-xg" class="aplayer"></div>
						<a href="http://www.lmlblog.com/blog/yanlingjiao/1.html" target="_blank"><h2>燕凌姣个人主页</h2>
							<img src="http://www.lmlblog.com/blog/yanlingjiao/images/jiao8.jpg" alt="燕凌姣个人主页">
							<p>　　一袭蓝衣亭亭玉立，姣若春梅绽雪，神如月射寒江，香培玉琢、英姿飒爽;其静兰生幽谷，其动若飞若扬，性格大气坚毅、疏朗开阔，举止敢爱敢恨、聪明磊落...他就是燕凌姣</p></a>
					</div>
				</div>
				<div class="lmlblog-member-right">
					<div class="lmlblog-post-list" th:if="${topPost!=null&&pageInfo.pageNum==1}">
						<div  class="lmlblog-posts-list words" style="background-image:url(/images/058.png); " data="4197" th:id="|post${topPost.pid}|">
							<!-- 动态内容部分，包括列表 -->
							<div class="lmlblog-post-user-info">
								<div><i class="fa fa-arrow-circle-up"></i><span style="color: red;">置顶</span><br><br></div>
								<div class="lmlblog-post-user-info-avatar" user-data="1">
									<a href="#" style="display: inline-block;">
										<span class="lmlblog-vip-icon"></span>
										<img th:src="|/avatar/${topPost.user.image}|" class="avatar"/>
										<i th:if="${topPost.user.status==0}" th:title="普通用户"></i>
										<i th:if="${topPost.user.status==1}" class="lmlblog-verify lmlblog-verify-a" th:title="会员用户"></i>
										<i th:if="${topPost.user.status==2}" class="lmlblog-verify lmlblog-verify-b" th:title="认证用户"></i>
										<i th:if="${topPost.user.status==3}" class="lmlblog-verify-c lmlblog-verify-cc" th:title="超级管理员"></i>
									</a>
									<div class="lmlblog-user-info-card">
										<div class="info_card_loading">
											<img style="margin-top: 70px" src="/picture/chat-loading.gif"><p>资料加载中...</p>
										</div>
									</div>
								</div>

								<div class="lmlblog-post-user-info-name">
									<a href="#">
										<font style="color:#333;font-weight:600" th:text="${topPost.user.name}">司空琪</font>
									</a>
									<span class="lmlblog-mark lmlblog-lv" title="经验：3815"></span><span class="lmlblog-mark lmlblog-vip"></span>
								</div>
								<div class="lmlblog-post-user-info-time" title="2017-12-14 05:25" th:text="${#dates.format(topPost.postTime,'yyyy-MM-dd HH:mm')}">12-14 05:25</div>
								<div class="lmlblog-post-user-info-time" title="来自weibo.com" th:text="来自weibo.com">12-14 05:25</div>
							</div><!-- 作者信息 -->
							<div class="lmlblog-post-setting">
								<i class="fa fa-angle-down"></i>
								<div class="lmlblog-post-setting-box" th:switch="${userCur.uid==session.user.uid}">
									<ul th:case="true">
										<a th:href="@{/user/${session.user.uid}/doTopPost(pid=${topPost.pid})}" title="取消置顶"><li>取消置顶</li></a>
										<a href="#" title="编辑"><li>编辑</li></a>
										<a th:href="|javascript:doDelete(${topPost.user.uid},${topPost.pid})|" title="删除"><li>删除</li></a>
									</ul>
									<ul th:case="false">
										<a href="#" title="举报"><li>举报</li></a>
										<a th:href="@{|user/${userCur.uid}/1|}" title="访问主页"><li>访问主页</li></a>
									</ul>
								</div>
							</div>
							<div class="lmlblog-post-content ">
								<p th:utext="${topPost.text}"></p>
							</div>

							<div class="container">
								<div class="row">
									<div class="lmlblog-post-bar" >
										<hr style="width: 710px;position: relative;left: -20px;top: 10px">
										<li th:onclick='|list_comments_show(this,${topPost.user.uid},${topPost.pid});|'>
											<i class="fa fa-comment-o"></i><span></span>
										</li>
										<li class="lmlblog-no-like" th:onclick="|javascript:doLike(${topPost.user.uid},${topPost.pid},${session.user.uid},this)|">
											<i class="fa fa-heart" th:if="${topPost.postLike==true}"></i><i class="fa fa-heart-o" th:if="${topPost.postLike==false}"></i><span th:text="|${topPost.countPostLike}|"></span>
										</li>
									</div>
									<hr style="width: 710px">
								</div>
							</div>
							<div style='display: none;padding-bottom: 15px;background-color: #f2f2f5;position: relative;top: -10px' >
								<!--发送评论开始-->
								<div class='row' style='margin-left: 0px;margin-right: 0px;padding-top: 10px'>
									<div class='col-lg-1'>
										<img th:src='|/avatar/${session.user.image}|' style='height: 32px;width: 32px'/>
									</div>
									<div class='col-lg-11' style='padding-left: 0px'>
										<form role='form' method="post">
											<div class='form-group' style='margin-top: 0px'>
												<div class='col-lg-12' style='padding-left: 0px'>
													<div contentEditable='true' th:id='|comment${topPost.pid}|' class='form-control' style='width: 635px;height: auto'>我是母回复</div>
												</div>
												<div class='col-lg-12' style='margin-top: 12px;margin-left: 12px;'>
													<button type='button' id='send' class='btn btn-default pull-right disabled' style='color: #ffc09f;height: 30px;width: 60px;padding: 0 0'>发布</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<!--发送评论结束-->

								<hr style="width: 680px;margin-left: 15px"/>

								<div style='display: block;background-color: #f2f2f5;'>
									<div class='row'  style='margin-left: 0px;margin-right: 0px;'>
										<div class="col-lg-6"><a href=''>按热度</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=''>按时间</a></div>
									</div>
									<!--需要遍历的评论开始-->
									<div class='row' style='margin-left: 0px;margin-right: 0px'>
										<hr style="width: 680px;margin-left: 15px"/>
										<div class='col-lg-1'>
											<img src='/avatar/1.jpg' style='height: 32px;width: 32px'/>
										</div>
										<div class='col-lg-11' style='padding-left: 0px'>
											<a style='color: orange' href='/user/1/1'>Admin</a>
											<span>：我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论我是评论</span>
										</div>
									</div>
									<!--评论的时间与回复开始-->
									<div class='row' style='margin-left: 0px;margin-right: 0px'>
										<div class='col-lg-1'></div>
										<div class='col-lg-3' style="color: #808080;padding-left: 0px">时间</div>
										<div class='col-lg-6'></div>
										<div class='col-lg-2'>
											<a href='javascript:void(0);' style='text-decoration: none' onclick='showReComment(this)'>回复</a>
											&nbsp;&nbsp;|&nbsp;&nbsp;
											<a href=''><i class='fa fa-heart'></i></a>
											1
										</div>
									</div>
									<!--评论的时间与回复结束-->
									<!--发送回复评论开始-->
									<div class='row' style='margin-left: 0px;margin-right: 0px;display: none'>
										<br>
										<div class='col-lg-1'></div>
										<div class='col-lg-11' style='padding-left: 0px;background-color: white;padding-right: 0px;width: 635px'>
											<br>
											<div class='row'  style='margin-left: 0px;margin-right: 0px'>
												<div class='col-lg-12'>
													<form role='form' method="post">
														<div class='form-group' style='margin-top: 0px'>
															<div class='col-lg-12' style='padding-left: 0px'>
																<div contentEditable='true' id="content1" class='form-control' style='width: 605px;height: auto'>我是子回复</div>
															</div>
															<div class='col-lg-12' style='margin-top: 12px;margin-left: 12px;'>
																<button type='button' id='send1' class='btn btn-default pull-right disabled' style='color: #ffc09f;height: 30px;width: 60px;padding: 0 0'>发布</button>
															</div>
														</div>
													</form>
												</div>
											</div>
											<br>
										</div>
									</div>
									<!--发送回复评论结束-->
									<div class='row' style='margin-left: 0px;margin-right: 0px;'>
										<br>
										<div class='col-lg-1'></div>
										<div class='col-lg-11' style='padding-left: 0px;background-color: #eaeaec;width: 635px;padding-top: 10px;padding-bottom: 15px'>
											<div class='row' style='margin-left: 0px;margin-right: 0px'>
												<div class='col-lg-12' style='padding-right: 0px;padding-left: 12px'>
													<a style='color: orange' href='/user/1/1'>Admin</a>
													<span>：我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论我是子评论</span>
												</div>
											</div>
											<div class='row' style='margin-left: 0px;margin-right: 0px'>
												<div class='col-lg-4' style='color: #808080;padding-right: 0px;padding-left: 12px'>时间</div>
												<div class='col-lg-5'></div>
												<div class='col-lg-3' style="padding-right: 5px">
													<span style="float: right">
														<a href='javascipt:void(0);' style='text-decoration: none' onclick='showReCommentComment(this)'>回复</a>
														&nbsp;&nbsp;|&nbsp;&nbsp;
														<a href=''><i class='fa fa-heart'></i></a>
														1
													</span>
												</div>
											</div>
											<div class='row' style='display: none;margin-left: 15px;margin-right: 0px'>
												<br>
												<div class='col-lg-12' style='background-color: white;'>
													<br>
													<div class='row'  style='margin-left: 0px;margin-right: 0px'>
														<div class='col-lg-12' style='padding-left: 0px'>
															<form role='form' method="post">
																<div class='form-group' style='margin-top: 0px'>
																	<div class='col-lg-12' style='padding-left: 0px'>
																		<div contentEditable='true' id="content2" class='form-control' style='width: 575px;height: auto'>我是子子回复</div>
																	</div>
																	<div class='col-lg-12' style='margin-top: 12px;margin-left: 12px;padding-right: 5px'>
																		<button type='button' id='send2' class='btn btn-default pull-right disabled' style='color: #ffc09f;height: 30px;width: 60px;padding: 0 0'>发布</button>
																	</div>
																</div>
															</form>
														</div>
													</div>
													<br>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="lmlblog-post-footer-bar">
								<span th:title="${#dates.format(topPost.postTime,'yyyy-MM-dd HH:mm')}" th:text="${#dates.format(topPost.postTime,'yyyy-MM-dd HH:mm')}">12月14日 05:25</span>
								<span>小尾巴</span><i class="lmlblog-icon" onclick="lmlblog_post_type_open();">&#xe62c;</i>
							</div>
						</div>
					</div>
					<div class="lmlblog-post-list" th:each="post:${pageInfo.list}">
						<div  class="lmlblog-posts-list words" style="background-image:url(/images/058.png); " th:if="${post.status!=4}" data="4197" th:id="|post${post.pid}|">
							<!-- 动态内容部分，包括列表 -->
							<div class="lmlblog-post-user-info">
								<div th:switch="${post.status}">
									<i class="fa fa-lock" th:case="-1"><span style="color: orange;">仅自己可见</span><br><br></i>
									<i class="fa fa-gittip" th:case="2"><span style="color: orange;">好友圈</span><br><br></i>
									<i class="fa fa-user" th:case="3"><span style="color: orange;">仅粉丝可见</span><br><br></i>
								</div>
								<div class="lmlblog-post-user-info-avatar" user-data="1">
									<a href="#" style="display: inline-block;">
										<span class="lmlblog-vip-icon"></span>
										<img th:src="|/avatar/${post.user.image}|" class="avatar"/>
										<i th:if="${post.user.status==0}" th:title="普通用户"></i>
										<i th:if="${post.user.status==1}" class="lmlblog-verify lmlblog-verify-a" th:title="会员用户"></i>
										<i th:if="${post.user.status==2}" class="lmlblog-verify lmlblog-verify-b" th:title="认证用户"></i>
										<i th:if="${post.user.status==3}" class="lmlblog-verify-c lmlblog-verify-cc" th:title="超级管理员"></i>
									</a>
									<div class="lmlblog-user-info-card">
										<div class="info_card_loading"><img style="margin-top: 70px" src="/picture/chat-loading.gif"><p>资料加载中...</p>
										</div>
									</div>
								</div>

								<div class="lmlblog-post-user-info-name">
									<a href="#">
										<font style="color:#333;font-weight:600" th:text="${post.user.name}">司空琪</font>
									</a>
									<span class="lmlblog-mark lmlblog-lv" title="经验：3815"></span><span class="lmlblog-mark lmlblog-vip"></span>
								</div>
								<div class="lmlblog-post-user-info-time" title="2017-12-14 05:25" th:text="${#dates.format(post.postTime,'yyyy-MM-dd HH:mm')}">12-14 05:25</div>
								<div class="lmlblog-post-user-info-time" title="来自weibo.com" th:text="来自weibo.com">12-14 05:25</div>
							</div><!-- 作者信息 -->
							<div class="lmlblog-post-setting">
								<i class="fa fa-angle-down"></i>
								<div class="lmlblog-post-setting-box" th:switch="${userCur.uid==session.user.uid}">
									<ul th:case="true">
										<a th:href="@{/user/${session.user.uid}/doTopPost(pid=${post.pid})}" title="置顶"><li>置顶</li></a>
										<a href="#" title="编辑"><li>编辑</li></a>
										<a th:href="|javascript:doDelete(${post.user.uid},${post.pid})|" title="删除"><li>删除</li></a>
									</ul>
									<ul th:case="false">
										<a th:href="@{|/user/${post.user.uid}/1|}" title="取消关注"><li>取消关注</li></a>
										<a href="#" title="举报"><li>举报</li></a>
									</ul>
								</div>
							</div>
							<div class="lmlblog-post-content ">
								<p th:utext="${post.text}"></p>
							</div>
							<!--<div class="lmlblog-post-images-list clear"></div>-->
							<div class="container">
								<div class="row">
									<div class="lmlblog-post-bar">
										<li th:onclick='|list_comments_show(this,${post.user.uid},${post.pid});|'>
											<i class="fa fa-comment-o"></i><span></span>
										</li>
										<li class="lmlblog-no-like" th:onclick="|javascript:doLike(${post.user.uid},${post.pid},${session.user.uid},this)|">
											<i class="fa fa-heart" th:if="${post.postLike==true}"></i><i class="fa fa-heart-o" th:if="${post.postLike==false}"></i><span th:text="|${post.countPostLike}|"></span>
										</li>
									</div>
								</div>
							</div>
							<div class="row" style="display: none">
								<div class="col-lg-1">
									头像
								</div>
								<div class="col-lg-11">
									评论
								</div>
							</div>
							<div class="lmlblog-post-footer-bar">
								<span th:title="${#dates.format(post.postTime,'yyyy-MM-dd HH:mm')}" th:text="${#dates.format(post.postTime,'yyyy-MM-dd HH:mm')}">12月14日 05:25</span>
								<span>小尾巴</span><i class="lmlblog-icon" onclick="lmlblog_post_type_open();">&#xe62c;</i>
							</div>

						</div>
						<!-- posts_list -->
					</div>
					<div class="lmlblog-pager">
						<a class="lmlblog-pager-left" th:href="@{|/user/${userCur.uid}/${pageInfo.hasPreviousPage?pageInfo.prePage:1}|}">上一页</a>
						<div class="lmlblog-pager-center layui-form" th:text="|第${pageInfo.pageNum==0?1:pageInfo.pageNum}页|"></div>
						<a class="lmlblog-pager-right" th:href="@{|/user/${userCur.uid}/${pageInfo.hasNextPage?pageInfo.nextPage:pageInfo.navigateLastPage}|}">下一页</a>
					</div>
				</div>
		</div>
	</div>
</div>
<!-- 底部 -->
<div style="clear:both"></div>
<div class="footer">
	<div class="footer_b_foot">
		<div class="footer_b_top">
		</div>
		<div class="footer_b_bottom">Design by 2017 画江湖杯莫停 司空琪个人主页 司空琪微博/空间/贴吧官博。Promoted by 2021 红桃QHeartQ。内容源于网络搜集，仅学习、分享交流。</div>
	</div>
</div>
<!-- 返回顶部 -->
<a href="javascript:returnTop();" class="cd-top"></a>
<script type="text/javascript">
	var sdelay=0;
	function returnTop() {
		window.scrollBy(0,-100);//Only for y vertical-axis
		if(document.body.scrollTop>0) {
			sdelay= setTimeout('returnTop()',50);
		}
	}
</script>
</body>
<script type='text/javascript' th:src='@{/js/base.js}'></script>
<script type='text/javascript' th:src='@{/all.js}'></script>
<script type='text/javascript' th:src='@{/js/plupload.full.min.js}'></script>
<script type='text/javascript' th:src='@{/js/layui.js}'></script>
<script>
	function showReComment(d) {
		var displayRe=$(d).parent().parent().next().css("display");
		if (displayRe=="none"){
			$(d).parent().parent().next().css("display","block");
		}else {
			$(d).parent().parent().next().css("display","none");
		}
	}
	function showReCommentComment(d) {
		var displayRe=$(d).parent().parent().parent().next().css("display");
		if (displayRe=="none"){
			$(d).parent().parent().parent().next().css("display","block");
		}else {
			$(d).parent().parent().parent().next().css("display","none");
		}
	}
	function list_comments_show(d,uid,pid) {
		var display=$(d).parent().parent().parent().next().css("display");
		if (display=="none"){
			$(d).parent().parent().parent().next().css("display","block");
			//alert("111");
			$.post(
				"/comment/hotComment",
				"upid="+uid+"-"+pid,
				function (data) {
					if (data==""){
						alert("empty");
					}else {
						var comment="";
						for (var i=0;i<data.length;i++){
							/*alert(i+"comment"+data[i].comment);
							alert(i+"upid"+data[i].upid);
							alert(i+"upcid"+data[i].upcid)*/

						}
						$(d).parent().parent().parent().next().html(comment);
					}
				},
				"json"
			);
		}else {
			$(d).parent().parent().parent().next().css("display","none");
		}
	}
	function showList(d){
		$(d).children().eq(0).css("display","block");
	}
	jQuery(document).ready(function($){
		$.fn.smartFloat = function() {
			var position = function(element) {
				var top = element.position().top, pos = element.css("position");
				$(window).scroll(function() {
					var scrolls = $(this).scrollTop();
					if (scrolls > top) {
						if (window.XMLHttpRequest) {
							element.css({
								position: "fixed",
								top: 0
							});
						} else {
							element.css({
								top: scrolls
							});
						}
					}else {
						element.css({
							position: "absolute",
							top: top
						});
					}
				});
			};
			return $(this).each(function() {
				position($(this));
			});
		};
		$(".lmlblog-member-left-bg-xg").smartFloat();
	});

	function doLike(puid,pid,uid,d) {
		//alert("22");
		$.post(
				"/user/"+uid+"/doLike",
				"upid="+puid+"-"+pid+"&uid="+uid,
				function (data){
					//alert("33");
					//应该还需要去改变post.like的值
					//alert(data);
					var a=$("#post"+pid+"0").text();
					var b=parseInt($(d).children().eq(1).text());
					var h="<i className='fa fa-heart'></i>";
					var ho="<i className='fa fa-heart-o'></i>";
					//alert(b);
					//alert(b-1);
					//alert(!data);
					if (!data){
						$(d).children().eq(0).removeClass("fa fa-heart");
						$(d).children().eq(0).addClass("fa fa-heart-o");
						$(d).children().eq(1).text(b-1);
					}else {
						$(d).children().eq(0).removeClass("fa fa-heart-o");
						$(d).children().eq(0).addClass("fa fa-heart");
						$(d).children().eq(1).text(b+1);
					}
				},
				"json"
		)
	}

	function doFollow(uid,followUid) {
		$.post(
				"/user/"+uid+"/doFollow",
				"uid="+uid+"&followUid="+followUid,
				function (followStatus){
					var message="<span class='opacity'><i class='fa fa-envelope-o'></i>&nbsp;&nbsp;<i class='lmlblog-icon'>私聊</i></span>";
					var str04="<a onclick='javascript:doFollow("+uid+","+followUid+")' target='_blank' rel='nofollow'><span class='follow no opacity'><i class='fa fa-plus-square-o'></i>&nbsp;&nbsp;<i class='lmlblog-icon'></i>关注</i></span></a>";
					var str1="<a onclick='javascript:doFollow("+uid+","+followUid+")' target='_blank' rel='nofollow'><span class='follow has opacity'><i class='fa fa-check-square-o'></i><i class='lmlblog-icon'>已关注</i></span></a>";
					var str2="<a onclick='javascript:doFollow("+uid+","+followUid+")' target='_blank' rel='nofollow'><span class='follow has opacity'><i class='fa fa-exchange'></i><i class='lmlblog-icon'>互相关注</i></span></a>";
					if (followStatus==0||followStatus==4){
						$("#followInfo").html(str04+message);
					}else if (followStatus==1){
						$("#followInfo").html(str1+message);
					}else if (followStatus==2){
						$("#followInfo").html(str2+message);
					}else {
						$("#followInfo").html("");
					}
				},
				"json"
		);
	}

	function doDelete(uid,pid) {
		$.post(
				"/user/"+uid+"/doDelete",
				"pid="+pid,
				function (){
					$("#post"+pid).remove();
				},
				"json"
		)
	}
</script>
</html>